<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-20d{HH:mm:ss.SSS} %-15thread %-10level %-45logger{40} %-40msg%n</pattern>
		</encoder>
		<target>System.err</target>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDERR" />
	</root>
</configuration>