<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%-20d{HH:mm:ss.SSS} %-15thread %-10level %-45logger{40} %-40msg%n</pattern>
		</encoder>
		<target>System.err</target>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log-internal.txt</file>
		
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
    	</filter>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDERR" />
		<appender-ref ref="FILE" />
	</root>
</configuration>